# Application
NODE_ENV=development
PORT=3000

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pos_db

# JWT
JWT_SECRET=DsqfLveJrYAdrjbyODvpnXPiWry8s9WxjkrcSWw2r4H
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=NjLsB7zRwOA0i3D5H5rrsZu2CsHmVRblObKJYMdIqKW
JWT_REFRESH_EXPIRES_IN=7d

# KIOSK SIMULATION
KIOSK_NO=1

